PigegruppenProjektSynsPunkt/ButiksSystem/bin/
PigegruppenProjektSynsPunkt/ButiksSystem/obj/
PigegruppenProjektSynsPunkt/KundeApplication/obj/
PigegruppenProjektSynsPunkt/KundeApplication/bin/
PigegruppenProjektSynsPunkt/.vs/
